In [1]:
import math
import re
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import Imputer
from scipy.stats import mode
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

In [2]:
df1 = pd.DataFrame({'A': [-1,-1,0,10,12],
                   'B': [-20,-10,0,10,20]})

df2 = pd.DataFrame({'A': [-1,-1,0,10,12],
                    'B': [-20,-10,0,10,20],
                    'C': [-4,-2,66,0,1],
                    'D': [-20,-1,4,11,20]})

In [3]:
def doStuff(col):
    df1[col > 0] = 666

In [4]:
df1.apply(doStuff)

A    None
B    None
dtype: object

In [5]:
df1

     A    B
0   -1  -20
1   -1  -10
2    0    0
3  666  666
4  666  666

In [6]:
def moreStuff(col):
    print(df2[col.name].shape)

In [7]:
df1.apply(moreStuff)

(5,)
(5,)

A    None
B    None
dtype: object

In [8]:
df2.apply(lambda s: 1 , axis=1)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [9]:
df2

    A   B   C   D
0  -1 -20  -4 -20
1  -1 -10  -2  -1
2   0   0  66   4
3  10  10   0  11
4  12  20   1  20

In [10]:
def changeVal(col):
    return [float('NaN') if x == 0 else x for x in col]

In [11]:
df3 = df2.apply(changeVal)

In [12]:
df3

      A     B     C   D
0  -1.0 -20.0  -4.0 -20
1  -1.0 -10.0  -2.0  -1
2   NaN   NaN  66.0   4
3  10.0  10.0   NaN  11
4  12.0  20.0   1.0  20

In [13]:
df3

      A     B     C   D
0  -1.0 -20.0  -4.0 -20
1  -1.0 -10.0  -2.0  -1
2   NaN   NaN  66.0   4
3  10.0  10.0   NaN  11
4  12.0  20.0   1.0  20

In [14]:
def nanCheck(col):
    return [3 if math.isnan(x) else x for x in col]

In [15]:
df4 = df3.apply(nanCheck)

In [16]:
df4

      A     B     C   D
0  -1.0 -20.0  -4.0 -20
1  -1.0 -10.0  -2.0  -1
2   3.0   3.0  66.0   4
3  10.0  10.0   3.0  11
4  12.0  20.0   1.0  20

In [25]:
list =[5, 1, 4, 3, 2]
list.sort()
list[4:]

[5]