In [59]:
import math
import re
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import Imputer
from scipy.stats import mode
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

In [60]:
df1 = pd.DataFrame({'A': [-1,-1,0,10,12],
                   'B': [-20,-10,0,10,20]})

df2 = pd.DataFrame({'A': [-1,-1,0,10,12],
                    'B': [-20,-10,0,10,20],
                    'C': [-4,-2,66,0,1],
                    'D': [-20,-1,4,11,20]})

In [61]:
def doStuff(col):
    df1[col > 0] = 666

In [62]:
df1.apply(doStuff)

A    None
B    None
dtype: object

In [63]:
df1

     A    B
0   -1  -20
1   -1  -10
2    0    0
3  666  666
4  666  666

In [64]:
def moreStuff(col):
    print(df2[col.name].shape)

In [65]:
df1.apply(moreStuff)

(5,)
(5,)

A    None
B    None
dtype: object

In [83]:
df2.apply(lambda s: 1 , axis=1)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [84]:
df2

    A   B   C   D
0  -1 -20  -4 -20
1  -1 -10  -2  -1
2   0   0  66   4
3  10  10   0  11
4  12  20   1  20