In [7]:
import math
import re
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import Imputer
from scipy.stats import mode
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

In [8]:
df1 = pd.DataFrame({'A': [-1,-1,0,10,12],
                   'B': [-20,-10,0,10,20]})

df2 = pd.DataFrame({'A': [-1,-1,0,10,12],
                    'B': [-20,-10,0,10,20],
                    'C': [-4,-2,66,0,1],
                    'D': [-20,-1,4,11,20]})

In [9]:
def doStuff(col):
    df1[col > 0] = 666

In [10]:
df1.apply(doStuff)

A    None
B    None
dtype: object

In [11]:
df1

     A    B
0   -1  -20
1   -1  -10
2    0    0
3  666  666
4  666  666

In [12]:
def moreStuff(col):
    print(df2[col.name].shape)

In [13]:
df1.apply(moreStuff)

(5,)
(5,)

A    None
B    None
dtype: object

In [14]:
df2.apply(lambda s: 1 , axis=1)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [15]:
df2

    A   B   C   D
0  -1 -20  -4 -20
1  -1 -10  -2  -1
2   0   0  66   4
3  10  10   0  11
4  12  20   1  20

In [16]:
cat_cols =['month_december', 'C', 'month_february', 'month_january', 'month_july', 'month_june', 'month_march', 'month_may', 'month_november', 'month_october', 'month_september', 'weekday_friday', 'weekday_monday', 'weekday_thursday', 'weekday_tuesday', 'weekday_wednesday', 'region_america', 'region_asia', 'region_europe']

In [17]:
def stuff(col):
    if col.name in cat_cols:
        print('Washoo!')

In [18]:
df2.apply(stuff)

Washoo!

A    None
B    None
C    None
D    None
dtype: object

In [20]:
X = pd.read_pickle('../../../aws/2017-03-10_RfrImputation/X_imputed_rfr_cat.pkl')
X.shape

(200000, 68)

In [22]:
X.describe()

,x00,x01,x02,x03,x04,x05,x06,x07,x08,x09,...,month_september,weekday_friday,weekday_monday,weekday_thursday,weekday_tuesday,weekday_wednesday,region_america,region_asia,region_europe,y
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,2.000000e+05,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.00000,200000.000000,200000.000000,200000.000000,160000.000000
mean,1.565302,2.019080,0.004496,2.493300,0.003350,0.104413,0.014742,-0.000682,0.011446,5.250000e-08,...,0.047040,0.003485,0.002875,0.199935,0.162025,0.63168,0.076165,0.865475,0.058360,0.400550
std,16.383884,7.456900,6.800041,9.617885,6.285238,2.173478,7.751294,2.416423,9.160411,1.040942e-04,...,0.211725,0.058931,0.053542,0.399952,0.368475,0.48235,0.265263,0.341216,0.234424,0.490011
min,-68.981217,-31.258618,-30.654468,-36.350492,-27.575136,-13.677304,-32.781282,-11.615171,-38.961689,-5.000000e-04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,-9.396778,-2.883709,-4.597682,-3.998651,-4.227064,-1.370306,-5.201461,-1.639423,-6.142456,-1.000000e-04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000
50%,1.865785,2.205135,0.000046,2.610479,-0.002882,0.061461,-0.021072,-0.001341,0.256766,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,1.000000,0.000000,0.000000
75%,12.805386,6.998914,4.608573,9.036077,4.254600,1.554909,5.258726,1.626915,6.266736,1.000000e-04,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,1.000000,0.000000,1.000000
max,70.882303,39.193550,29.934983,47.313496,28.571894,10.006106,34.460095,10.794778,39.216249,5.000000e-04,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000