# Import Packages

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

<hr>

# Load and Verify Training Dataset

## Actions

In [4]:
# Read csv file into dataframe
dfTitanic = pd.read_csv("../../data/titanic/train.csv")

In [3]:
# Check first few observations in data frame
dfTitanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Check shape of dataframe
dfTitanic.shape

(891, 12)

In [8]:
# Review dataframe info
dfTitanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

<hr>

# Perform Initial EDA

### Q. What is the definition of each variable?

Variable Definitions:
1. **PassengerId:** Record ID
2. **Survived:** Survival (0 = No; 1 = Yes)
3. **Pclass:** Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
4. **Sex:** Sex
5. **Age:** Age
6. **SibSp:** Number of Siblings/Spouses Aboard
7. **Parch:** Number of Parents/Children Aboard
8. **Ticket:** Ticket Number
9. **Fare:** Passenger Fare
10. **Cabin:** Cabin
11. **Embarked:** Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

Special Notes:
* Pclass is a proxy for socio-economic status (SES): 1st=Upper; 2nd=Middle; 3rd=Lower.
* Age is in Years; Fractional if Age less than One (1). If the Age is Estimated, it is in the form xx.5.
* With respect to the family relation variables (i.e. sibsp and parch) some relations were ignored.  The following are the definitions used for sibsp and parch:
    * **Sibling:** Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic.
    * **Spouse:** Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored).
    * **Parent:** Mother or Father of Passenger Aboard Titanic.
    * **Child:** Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic.
* Other family relatives excluded from this study include cousins, nephews/nieces, aunts/uncles, and in-laws.
* Some children travelled only with a nanny, therefore parch=0 for them.
* As well, some travelled with very close friends or neighbors in a village, however, the definitions do not support such relations.

*Source: https://www.kaggle.com/c/titanic/data*

### Q. Is each variable categorical or continuous?

Variable Types:
1. **PassengerId:** 
2. **Survived:** 
3. **Pclass:** 
4. **Sex:** 
5. **Age:** 
6. **SibSp:** 
7. **Parch:** 
8. **Ticket:** 
9. **Fare:** 
10. **Cabin:** 
11. **Embarked:**

### Q. Are there missing values?

### Q. What is the (1) Min, (2) Max, (3) Mean, and (4) Standard Deviation for each continuous variable?

<hr>

# Handle Missing Data

<hr>

# Perform Follow Up EDA

<hr>

# Plot Distributions

### Q. What is the histogramic distribution for each variable?

<hr>

# Summary